<!DOCTYPE html>
<html>
    <head>
        <title>Demo News</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
    </head>

    <body>
        <div class="header">
            <h1>My News Website</h1>
        </div>
        <ul>
            <li><a href="/">Latest</a></li>
            <li><a href="/business">Business</a></li>
            <li><a href="/entertainment">Entertainment</a></li>
            <li><a href="/health">Health</a></li>
            <li><a href="/science">Science</a></li>
            <li><a href="/sports">Sports</a></li>
            <li><a href="/technology">Technology</a></li>
        </ul>

        <div class="content">

            {% for title, url, desc, img_link in articles %}
                <img src={{img_link}} style="width:100px;height=100px;">
                <h2><a href={{url}}>{{ title }}</a></h2>
                <p>{{desc}}</p>
            {% endfor %}

            <h3><center>{{error_text | safe}}</center></h3>

        </div>
    </body>
</html>
